* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
    font-family: 'Raleway', sans-serif;
}

h2 {
    /* width: 100%; */
    color: #780000;
    font-size: 26px;
    font-weight: 600; /* semi-bold */
    text-transform: uppercase; /* all caps */
    margin: 0px;
}

h3 {
    margin: 0px;
    color: black;
}

p{
    /* width: 100%; */
    margin-top: 0px;
    margin-bottom: 0px;
    color: #122836;
    font-size: 16px;
}

button{
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: #780000;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 400; 
    border-radius: 3px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button:active{
    transform: scale(0.96);
}

button:hover{
    background-color: #9b0000;
}

body {
    /* background-color: rgb(66, 66, 66); */

    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top-heading {
    color: black;
    text-align: center;
    align-items: center;
}

.two-conatiners {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    gap: 30px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 60%;
    padding: 50px;
    border-radius: 16px;
    gap: 16px;
    box-shadow: 4px 10px 42px rgba(0, 0, 0, 0.2);
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 6px;
}

label {
    width: 100%;
    color: #780000;
}

input {
    width: 100%;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #BABABA;
    box-sizing: border-box; /* 👈 Fixes the overflow */
    outline: none;
}

input:focus::placeholder {
    color: transparent;

}

input::placeholder {
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.cards {
    width: 100%;
    background-color: white;
}

.card{
    height: 129px;
    /* background-color: black; */
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 4px 10px 42px rgba(0, 0, 0, 0.2);
}

.video-number{
    color: white;
    color: #959595;
    font-size: 14px;
}

.card-thumbnail {
  position: relative;   /* important: sets reference for absolute child */
  width: 50%;
  height: 100%;
  background-image: url('https://i.ytimg.com/vi/tVzUXW6siu0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDf-xrqgUw55JSfKsoykKVhngkzRA'); /* 👈 set image */
  background-size: cover;   /* make it cover the whole div */
  background-position: center; /* center the image */
  border-radius: 10px; /* round the corners */
}

.video-duration {
    position: absolute;   /* take out of normal flow */
    bottom: 0;            /* stick to bottom */
    right: 0;              /* stick to right */
    margin-right: 6px;
    margin-bottom: 6px;
    background: transparent;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.6); /* 👈 black with 40% opacity */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
}

.video-duration p {
    color: white;
    font-size: 14px;
    font-weight: 600; /* semi-bold */
}

.card-details {
    width: 100%;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box; /* 👈 Fixes the overflow */
}

.small-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.small-details p {
    color: #959595;
    font-size: 12px;
}

.seperator {
    color: #959595;
    font-size: 12px;
}

.fa-ellipsis-vertical{
    color: #959595;
}