body{
    background-color: green;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    margin-top: 50px;
}

.terminal{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
    background-color: black; 
    text-align: center;
}